.header {
    transition: all 0.5s;
    position: relative;
    height: 200px;
    background-image: url(../../images/Snipaste_2023-01-11_21-35-54.png);
    background-size: 100%;
    background-position: 50% 30%;
    width: 100%;
    border-bottom: 10px solid gray;
}

.header:hover {

    background-size: 150%;
}

.header .back {
    display: block;
    height: 100%;
    width: 100%;
}

.header p {
    transition: all 0.5s;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 5px;
    color: black;
}

.header:hover p {
    color: aliceblue;
}