.footer {
    position: relative;
    top: 0;
    height: 180px;
    width: 100%;
    border-top: 3px solid brown;
    background: linear-gradient(to bottom right, rgb(176 181 181), rgb(22, 22, 22));
}

.disclaimer {
    position: relative;
    left: 30px;
}

.disclaimer dt {
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.disclaimer dd {
    font-weight: 500;
    font-size: 13px;
    color: aliceblue;
    padding-bottom: 10px;
}