.intro {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 600px;
    height: 340px;
}

.intro .game-bg,
.intro .related,
.intro .strategy,
.intro .artistic {
    position: relative;
    float: left;
    width: 260px;
    height: 160px;
    border: 5px solid whitesmoke;
    margin: 0 10px 10px 0;
}

.intro .game-bg {
    background: url(../images/1563450234_706274.jpg);
    border-top-left-radius: 10px;
}

.intro .strategy {
    background: url(../images/1563450235_231518.jpg);
    border-top-right-radius: 10px;
}

.intro .artistic {
    background: url(../images/1673117663914.jpg);
    border-bottom-left-radius: 10px;
}

.intro .related {
    background: url(../images/related.webp);
    border-bottom-right-radius: 10px;
}

.intro .game-bg,
.intro .related,
.intro .strategy,
.intro .artistic {
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.intro .game-bg:hover,
.intro .related:hover,
.intro .strategy:hover,
.intro .artistic:hover {
    transition: 1s ease-out;
    background-size: 200%;
}

.intro .game-bg:hover p,
.intro .related:hover p,
.intro .strategy:hover p,
.intro .artistic:hover p {
    transition: 0.3s ease-out;
    color: brown;
    font-size: 20px;
    font-weight: 550;
}

.intro p {
    background-image: url(../images/head-bg.png);
    background-size: 1%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 3px;
    text-indent: 0.5em;
}