.vedio {
    position: relative;
    width: 100%;
    height: 855px;
    background-image: url(../../images/1563450235_231518.jpg);
    background-repeat: no-repeat;

    background-size: 100%;
}

.vedio .vedio_list p {
    transition: all 0.3s;
    background-image: url(../../images/head-bg.png);
    background-size: 0.5%;
    position: absolute;
    top: 230px;
    left: 0;
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 3px;
    text-indent: 0.5em;
}

.vedio_list {
    position: relative;
    top: 90px;
    left: 50px;
    width: 100%;
    width: 960px;
    height: 540px;
}

.juqing1,
.juqing2,
.jishu1,
.jishu2 {
    transition: all .5s;
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
    float: left;
    margin: 5px 5px;
    height: 260px;
    width: 460px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: aqua;
}

.juqing1 {
    background-image: url(../../images/juqing1.jpg);

}

.juqing2 {
    background-image: url(../../images/juqing2.jpg);

}

.jishu1 {
    background-image: url(../../images/jishu1.jpg);

}

.jishu2 {
    background-image: url(../../images/jishu2.jpg);

}

.jishu1:hover,
.jishu2:hover,
.juqing1:hover,
.juqing2:hover {
    background-size: 110%;
}

.jishu1:hover p,
.jishu2:hover p,
.juqing1:hover p,
.juqing2:hover p {
    transition: all 0.1 s;
    color: brown;
    font-size: 20px;
    font-weight: 550;
}

.more {
    transition: all 0.3s;
    position: absolute;
    bottom: 230px;
    right: 210px;
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 3px;
    text-indent: 0.5em;
    text-align: center;
    border-radius: 10px;
}

.more:hover {
    font-size: 24px;
    background-color: rgba(30, 30, 30, .3);
    text-decoration: underline;
}