.game_bg_main {
    position: relative;
    top: 0;
    left: 230px;
    width: 1260px;
    height: 8500px;
    background-color: rgba(255, 255, 255, 0.399);
}

.game_bg_main .main_text {
    position: relative;
    top: 0;
    left: 0;
    width: 1200px;
    margin: 0 30px;
}

.main_text .hd_bg {
    position: relative;
    top: 0;
    left: -30px;
    width: 1260px;
    height: 1580px;
    background-image: url(../../images/all.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_text .bg,
.main_text .gamedesign {
    position: relative;
    height: 370px;
    width: 100%;
}

.main_text .gamedesign {
    height: 450px;
}

/* css三角样式设计 */
.sanjiao {
    position: relative;
    top: 1px;
    left: -49px;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 22px solid brown;
    border-left: 30px solid brown;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
}

/* 背景设定、人物介绍部分样式设计 */
.main_text .bg span,
.main_text .main_crt span,
.main_text .gamedesign span {
    cursor: default;
    position: relative;
    top: -10px;
    left: -45px;
    padding: 5px;
    background-color: brown;
    font-size: 25px;
    line-height: 25px;
    font-weight: 550;
    color: aliceblue;
    letter-spacing: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* 介绍模块内部文本设计 */
.main_text .bg p,
.main_text .main_crt p,
.main_text .gamedesign p {
    cursor: default;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
    text-indent: 2em;
}

h2 {
    color: coral;
}

h3 {
    color: crimson;
    text-indent: 2em;
}

.main_text .main_crt h2,
.main_text .main_crt h4 {
    cursor: default;
    color: aliceblue;
}

.main_text .main_crt h4 {
    text-indent: 2em;
}

.content {
    width: 100%;
    height: 720px;
    border-bottom: 3px dotted brown;
}

.main_crt .hardman {
    height: 430px;
}

.main_crt .fragile {
    height: 640px;
}

.main_crt .heartman {
    height: 500px;
}

.main_crt .deadman {
    height: 880px;
}

.main_crt .higgs {
    height: 520px;
}

.main_crt .Cliff_Unger {
    height: 730px;
}

.main_crt .amelie {
    height: 480px;
}

.sam_img {
    float: left;
}

.game,
.real {
    display: block;
    float: left;
    margin-right: 10px;
    width: 240px;
    height: 317px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
}

.game:hover,
.real:hover,
._game:hover {
    border: 5px solid burlywood;
}


._game {
    display: block;
    float: left;
    margin-right: 10px;
    width: 317px;
    height: 240px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
}


.content .sam_img .game,
.content .sam_img .real {
    transition: all 0.5s;
    background-image: url(../../images/sam.jpg);
    background-repeat: no-repeat;
    background-position: 30% 0;
    background-size: 100%;
}

.content .sam_img .real {
    background-image: url(../../images/Normans.jpg);
    background-size: 200%;
    background-position: 50% 0;
}

.content .hardman_img .game,
.content .hardman_img .real {
    transition: all 0.5s;
    background-image: url(../../images/die_hardman.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .hardman_img .real {
    background-image: url(../../images/Tommie\ Earl\ Jenkins.jpg);
    background-size: 100%;
    background-position: 50% 0;
}

.content .fragile_img .game,
.content .fragile_img .real {
    transition: all 0.5s;
    background-image: url(../../images/fragile.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .fragile_img .real {
    background-image: url(../../images/Léa_Seydoux.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 110%;
}

.content .mama_lockne_img .game,
.content .mama_lockne_img ._game,
.content .mama_lockne_img .real {
    transition: all 0.5s;
    background-image: url(../../images/mama.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .mama_lockne_img ._game {
    background-image: url(../../images/lockne.jpg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 130%;
}

.content .mama_lockne_img .real {
    background-image: url(../../images/Margaret_Qualley.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .heartman_img .game,
.content .heartman_img .real {
    transition: all 0.5s;
    background-image: url(../../images/heart_man.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .heartman_img .real {
    background-image: url(../../images/Nicolas_Winding_Refn.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.content .deadman_img .game,
.content .deadman_img .real {
    transition: all 0.5s;
    background-image: url(../../images/deadman.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .deadman_img .real {
    background-image: url(../../images/Guillermo_del_Toro.jpg);
}

.content .higgs_img .game,
.content .higgs_img .real {
    transition: all 0.5s;
    background-image: url(../../images/higgs.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .higgs_img .real {
    background-image: url(../../images/Troy_Baker.png);
    background-position: 50% 50%;
    background-size: 110%;
}

.content .CU_img .game,
.content .CU_img .real {
    transition: all 0.5s;
    background-image: url(../../images/Clifford_Unger.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .CU_img .real {
    background-image: url(../../images/Mads_Mikkelsen.jpg);
    background-size: 100%;
}

.content .amelie_img .game,
.content .amelie_img .real {
    transition: all 0.5s;
    background-image: url(../../images/ameli.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}

.content .amelie_img .real {
    background-image: url(../../images/Lindsay_Jean_Wagner.jpg);
}

.content .sam_img .game:hover,
.content .hardman_img .game:hover,
.content .fragile_img .game:hover,
.content .mama_lockne_img .game:hover,
.content .mama_lockne_img .real:hover,
.content .heartman_img .game:hover,
.content .heartman_img .real:hover,
.content .deadman_img .game:hover,
.content .deadman_img .real:hover,
.content .higgs_img .real:hover,
.content .CU_img .game:hover,
.content .CU_img .real:hover,
.content .amelie_img .game:hover,
.content .amelie_img .real:hover {
    background-size: 140%;
}

.content .sam_img .real:hover {
    background-size: 250%;
}

.content .hardman_img .real:hover {
    background-size: 120%;
}

.content .fragile_img .real:hover {
    background-size: 150%;
}

.content .mama_lockne_img ._game:hover {
    background-position: 50% 50%;
    background-size: 200%;
}

.content .higgs_img .game:hover {
    background-position: 90% 5%;
    background-size: 160%;
}