/* 字体图标引用 */
@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?bwin5m');
    src: url('../../fonts/icomoon.eot?bwin5m#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?bwin5m') format('truetype'),
        url('../../fonts/icomoon.woff?bwin5m') format('woff'),
        url('../../fonts/icomoon.svg?bwin5m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

#author {
    display: block;
    position: absolute;
    top: 25px;
    right: 620px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#author span {
    cursor: default;
}

.footer {
    position: relative;
    top: 0;
    height: 240px;
    width: 100%;
    border-top: 3px solid brown;
    background: linear-gradient(to bottom right, rgb(176 181 181), rgb(22, 22, 22));
}

.disclaimer {
    cursor: default;
    float: left;
    margin-left: 50px;
}

.disclaimer dt {
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.disclaimer dd {
    font-weight: 500;
    font-size: 13px;
    color: aliceblue;
    padding-bottom: 10px;
}

.me {
    float: right;
    width: 600px;
    height: 60px;
    margin-top: 10px;
}

.qq,
.wechat,
.steam,
.epic,
.github {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 35px;
    line-height: 60px;
    color: aliceblue;
    padding-right: 50px;
    cursor: default;
}

.github {
    cursor: pointer;
}

.qq:hover,
.wechat:hover,
.steam:hover,
.epic:hover,
.github:hover,
.report-link:hover a {
    transition: 0.2s ease-in-out;
    color: brown;
}

.qq-QR,
.wc-QR,
.g-tips,
.s-tips,
.e-tips {

    display: none;
    position: absolute;
    top: 75px;
    right: 540px;
    height: 90px;
    width: 80px;
    border: 3px solid #fff;
    border-radius: 10px;
    background-image: url(../../images/QQ.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 50%;
}

.wc-QR {
    background-image: url(../../images/Wechat.png);
    background-size: 90%;
    right: 450px;
}

.s-tips,
.e-tips,
.g-tips {
    width: 120px;
    height: 28px;
    background-image: none;
    right: 160px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: aquamarine;
}

.s-tips {
    right: 335px;
}

.e-tips {
    right: 249px;
}

.qq-QR div,
.wc-QR div,
.s-tips div,
.e-tips div,
.g-tips div {
    width: 0;
    height: 0;
    position: absolute;
    top: -23px;
    right: 28px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}

.s-tips div,
.e-tips div,
.g-tips div {
    right: 50px;
}

.qq:hover .qq-QR,
.wechat:hover .wc-QR,
.steam:hover .s-tips,
.epic:hover .e-tips,
.github:hover .g-tips {
    display: block;
}

.report-link {
    position: absolute;
    bottom: 10%;
    left: 50px;
    font-size: 20px;
    color: navy;
}

.report-link p a {
    transition: all 0.5s;
    color: aliceblue;
}