.intro {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 600px;
    height: 340px;
}

.intro .game-bg,
.intro .related,
.intro .strategy,
.intro .artistic {
    position: relative;
    float: left;
    width: 260px;
    height: 160px;
    border: 5px solid whitesmoke;
    margin: 0 10px 10px 0;
}

.intro .game-bg {
    transition: all 1s;
    background: url(../../images/1673116732834.jpg);
    border-top-left-radius: 10px;
}

.intro .strategy {
    transition: all 1s;
    background: url(../../images/1673117663914.jpg);
    border-top-right-radius: 10px;
}

.intro .artistic {
    transition: all 1s;
    background: url(../../images/1673124909572.png);
    border-bottom-left-radius: 10px;
}

.intro .related {
    transition: all 1s;
    background: url(../../images/1672851065667.jpg);
    border-bottom-right-radius: 10px;
}

.intro .game-bg,
.intro .related,
.intro .strategy,
.intro .artistic {
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.intro .related {
    background-color: black;
    background-size: 130%;
}

.intro .game-bg:hover,
.intro .related:hover,
.intro .strategy:hover,
.intro .artistic:hover {
    background-size: 200%;
}

.intro .game-bg:hover {
    background-size: 200%;
    background-position: 100% 50%;
}

.intro .related:hover {
    background-size: 230%;
    background-position: 51% -5%;
}

.intro .artistic:hover {
    background-size: 240%;
    background-position: 50% 15%;
}

.intro .strategy:hover {
    background-size: 250%;
    background-position: 50% 5%;
}

.intro .game-bg:hover p,
.intro .related:hover p,
.intro .strategy:hover p,
.intro .artistic:hover p {
    transition: all 0.1 s;
    color: brown;
    font-size: 20px;
    font-weight: 550;
}

.intro p {
    transition: all 0.3s;
    background-image: url(../../images/head-bg.png);
    background-size: 1%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    letter-spacing: 3px;
    text-indent: 0.5em;
}

.intro a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}