.video {
    position: absolute;
    bottom: 120px;
    left: 135px;
    height: 338px;
    width: 600px;
    border: 5px solid rgb(251, 255, 255);
    border-radius: 10px;
}

video {
    border-radius: 10px;
}

.video p,
.video a {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    top: -40px;
    color: rgb(251, 255, 255);
}

.video p {
    left: 5px;
}

.video a {
    transition: all 0.5s;
    right: -10px;
}

.video a:hover {
    color: brown;
}